damg7370adfgargi/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "damg7370adfgargi"
		},
		"Snowflake_LS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake_LS'"
		},
		"Snowflake_LS_2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake_LS_2'"
		},
		"AzureBlobStorage1_LS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'AzureBlobStorage1_LS'"
		},
		"AzureBlobStorage_LS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'AzureBlobStorage_LS'"
		},
		"AzureDataLakeStorage_LS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://damg7370gargi.dfs.core.windows.net/"
		},
		"AzureKeyVault_LS_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://damg7370kvgargi.vault.azure.net/"
		},
		"Snowflake_LS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MySnowflakeDB"
		},
		"Snowflake_LS_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "DevRole"
		},
		"Snowflake_LS_2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MySnowflakeDB"
		},
		"Snowflake_LS_2_properties_typeProperties_role": {
			"type": "string",
			"defaultValue": "DEV_ROLE"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('AzureBlobStorage1_LS_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('AzureBlobStorage_LS_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Access of storage account ",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_LS_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Access Data Factory",
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_LS_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Accessing snowflake",
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "ol26732.canada-central.azure",
					"user": "Gargi",
					"database": "[parameters('Snowflake_LS_properties_typeProperties_database')]",
					"warehouse": "MyWarehouse",
					"role": "[parameters('Snowflake_LS_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake_LS_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_LS_2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "ol26732.canada-central.azure",
					"user": "Gargi",
					"database": "[parameters('Snowflake_LS_2_properties_typeProperties_database')]",
					"warehouse": "MyWarehouse",
					"role": "[parameters('Snowflake_LS_2_properties_typeProperties_role')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake_LS_2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "NYPD",
					"table": "ARREST_DATA_STAGE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "NYPD_Arrest_Data__Year_to_Date__20250213.tsv"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Seattle_Pet_Licenses_new.tsv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedTextGeo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_LS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "geo-data.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "state_fips",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "state_abbr",
						"type": "String"
					},
					{
						"name": "zipcode",
						"type": "String"
					},
					{
						"name": "county",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_LS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake_DS2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake_LS_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					},
					"SchemaName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake_LS_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_tsv_2_Parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "tsv_2_Parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('myFileName')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Parquet_2_Snowflake",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tsv_2_Parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"additionalColumns": [
									{
										"name": "DI_JOB_ID",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "DI_LOAD_DT",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"preCopyScript": "DELETE FROM MYSCHEMA.PET_LICENSE_STAGE",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1_LS",
									"type": "LinkedServiceReference"
								},
								"path": "staging"
							}
						},
						"inputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('myFileName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "MYSCHEMA",
									"TableName": "PET_LICENSE_STAGE"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"myFileName": {
						"type": "String",
						"defaultValue": "pet_lic_data.parquet"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1_LS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BreedDimLoading')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceStage"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "BreedDimMaxID"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceBreedDIM"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sinkSnowflake"
						}
					],
					"transformations": [
						{
							"name": "sourceWithSK"
						},
						{
							"name": "aggregateBreedKeys"
						},
						{
							"name": "joinToTarget"
						},
						{
							"name": "filterExistingRows"
						},
						{
							"name": "SurrogateKey"
						},
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn"
						}
					],
					"scriptLines": [
						"parameters{",
						"     JobID as string (\"10\")",
						"}",
						"source(output(",
						"          LICENSE_ISSUE_DATE as date,",
						"          LICENSE_NUMBER as string,",
						"          ANIMAL_NAME as string,",
						"          SPECIES as string,",
						"          PRIMARY_BREED as string,",
						"          SECONDARY_BREED as string,",
						"          ZIP_CODE as string,",
						"          DI_JOB_ID as string,",
						"          DI_LOAD_DT as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceStage",
						"source(output(",
						"          MAXBREEDSK as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: 'SELECT NVL(MAX(BREED_SK),0) AS MAXBreedSK FROM MYSCHEMA.BREED_DIM',",
						"     format: 'query') ~> BreedDimMaxID",
						"source(output(",
						"          BREED_SK as decimal(10,0),",
						"          PRIMARY_BREED as string,",
						"          SECONDARY_BREED as string,",
						"          SPECIES_NAME as string,",
						"          DI_JOB_ID as string,",
						"          DI_JOB_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceBreedDIM",
						"sourceStage, BreedDimMaxID join(1 == 1,",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> sourceWithSK",
						"sourceWithSK aggregate(groupBy(SPECIES,",
						"          PRIMARY_BREED,",
						"          SECONDARY_BREED,",
						"          MAXBREEDSK),",
						"     COUNT_ROW = count(LICENSE_NUMBER)) ~> aggregateBreedKeys",
						"aggregateBreedKeys, sourceBreedDIM join(SPECIES == SPECIES_NAME",
						"     && aggregateBreedKeys@PRIMARY_BREED == sourceBreedDIM@PRIMARY_BREED",
						"     && aggregateBreedKeys@SECONDARY_BREED == sourceBreedDIM@SECONDARY_BREED,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinToTarget",
						"joinToTarget filter(isNull(SPECIES_NAME)&&isNull(sourceBreedDIM@PRIMARY_BREED)&&isNull(sourceBreedDIM@SECONDARY_BREED)) ~> filterExistingRows",
						"select1 keyGenerate(output(RowNumber as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> SurrogateKey",
						"filterExistingRows select(mapColumn(",
						"          SPECIES,",
						"          PRIMARY_BREED = aggregateBreedKeys@PRIMARY_BREED,",
						"          SECONDARY_BREED = aggregateBreedKeys@SECONDARY_BREED,",
						"          MAXBREEDSK,",
						"          COUNT_ROW,",
						"          BREED_SK,",
						"          PRIMARY_BREED_NAME = sourceBreedDIM@PRIMARY_BREED,",
						"          SECONDARY_BREED_NAME = sourceBreedDIM@SECONDARY_BREED,",
						"          SPECIES_NAME,",
						"          DI_JOB_ID,",
						"          DI_JOB_DATE",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> select1",
						"SurrogateKey derive(BREED_SK = MAXBREEDSK + RowNumber,",
						"          DI_JOB_DATE = currentTimestamp(),",
						"          DI_JOB_ID = $JobID) ~> derivedColumn",
						"derivedColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     stageInsert: true,",
						"     mapColumn(",
						"          SPECIES_NAME = SPECIES,",
						"          PRIMARY_BREED,",
						"          SECONDARY_BREED,",
						"          BREED_SK,",
						"          DI_JOB_ID,",
						"          DI_JOB_DATE",
						"     )) ~> sinkSnowflake"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_CustDimLoad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceSFstage"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "CustDimMAXID"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceDimCust"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sinkSF"
						}
					],
					"transformations": [
						{
							"name": "CrossJoin"
						},
						{
							"name": "aggregate"
						},
						{
							"name": "joinToTarget"
						},
						{
							"name": "filterRows"
						},
						{
							"name": "surrogateKey"
						},
						{
							"name": "derivedColumns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     PID as string (\"10\")",
						"}",
						"source(output(",
						"          CUSTOMERID as decimal(38,0),",
						"          CUSTOMERNAME as string,",
						"          BILLTO as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceSFstage",
						"source(output(",
						"          MAXCUSTOMERSK as decimal(38,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: 'SELECT NVL(MAX(CUSTOMER_SK),0) AS MAXCustomerSK FROM MYSCHEMA.DIM_CUSTOMER',",
						"     format: 'query') ~> CustDimMAXID",
						"source(output(",
						"          CUSTOMER_SK as decimal(38,0),",
						"          CUSTOMER_ID as decimal(38,0),",
						"          CUSTOMER_NAME as string,",
						"          DI_CREATEDDT as timestamp,",
						"          PID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceDimCust",
						"sourceSFstage, CustDimMAXID join(1 == 1,",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> CrossJoin",
						"CrossJoin aggregate(groupBy(CUSTOMERNAME,",
						"          BILLTO,",
						"          CUSTOMERID,",
						"          MAXCUSTOMERSK),",
						"     COUNT_ROW = count(CUSTOMERID)) ~> aggregate",
						"aggregate, sourceDimCust join(CUSTOMERNAME == CUSTOMER_NAME",
						"     && CUSTOMERID == CUSTOMER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinToTarget",
						"joinToTarget filter(isNull(CUSTOMER_ID)&&isNull(CUSTOMER_NAME)) ~> filterRows",
						"filterRows keyGenerate(output(Row_number as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey",
						"surrogateKey derive(CUSTOMER_SK = MAXCUSTOMERSK + Row_number,",
						"          DI_CREATEDDT = currentTimestamp(),",
						"          PID = $PID) ~> derivedColumns",
						"derivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          CUSTOMER_NAME = CUSTOMERNAME,",
						"          CUSTOMER_ID = CUSTOMERID,",
						"          CUSTOMER_SK,",
						"          DI_CREATEDDT,",
						"          PID",
						"     )) ~> sinkSF"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Snowflake_DS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LocationDimLoading')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedTextGeo",
								"type": "DatasetReference"
							},
							"name": "sourceBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sinkLocDIM"
						}
					],
					"transformations": [
						{
							"name": "surrogateKey"
						},
						{
							"name": "derivedColumn"
						}
					],
					"scriptLines": [
						"parameters{",
						"     Job_ID as string (\"10\")",
						"}",
						"source(output(",
						"          state_fips as short,",
						"          state as string,",
						"          state_abbr as string,",
						"          zipcode as string,",
						"          county as string,",
						"          city as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceBronze",
						"sourceBronze keyGenerate(output(SK_ID as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey",
						"surrogateKey derive(DI_JOB_ID = $Job_ID,",
						"          DI_JOB_DATE = currentTimestamp()) ~> derivedColumn",
						"derivedColumn sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          STATE = state_abbr,",
						"          ZIP = zipcode,",
						"          CITY = city,",
						"          LOCATION_SK = SK_ID,",
						"          DI_JOB_ID,",
						"          DI_JOB_DATE",
						"     )) ~> sinkLocDIM"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedTextGeo')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NYPDCleansing')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_bronze",
								"type": "DatasetReference"
							},
							"name": "SourceBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Snowflake",
								"type": "DatasetReference"
							},
							"name": "SnowflakeSink"
						}
					],
					"transformations": [
						{
							"name": "derivedColumns"
						},
						{
							"name": "select"
						}
					],
					"scriptLines": [
						"parameters{",
						"     JobID as string (\"10\")",
						"}",
						"source(output(",
						"          ARREST_KEY as integer,",
						"          ARREST_DATE as date 'MM/dd/yyyy',",
						"          PD_CD as integer,",
						"          PD_DESC as string,",
						"          KY_CD as short,",
						"          OFNS_DESC as string,",
						"          LAW_CODE as string,",
						"          LAW_CAT_CD as string,",
						"          ARREST_BORO as string,",
						"          ARREST_PRECINCT as short,",
						"          JURISDICTION_CODE as short,",
						"          AGE_GROUP as string,",
						"          PERP_SEX as string,",
						"          PERP_RACE as string,",
						"          X_COORD_CD as integer,",
						"          Y_COORD_CD as integer,",
						"          Latitude as double,",
						"          Longitude as double,",
						"          {New Georeferenced Column} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceBronze",
						"SourceBronze derive(PD_CD = coalesce(PD_CD, toInteger(0)),",
						"          PD_DESC = iif(PD_DESC == '(null)', 'Unknown', PD_DESC),",
						"          KY_CD = coalesce(KY_CD, toInteger(0)),",
						"          OFNS_DESC = iif(OFNS_DESC == '(null)', 'Unknown', OFNS_DESC),",
						"          LAW_CODE = iif(LAW_CODE == '(null)', 'Unknown', LAW_CODE),",
						"          LAW_CAT_CD = iif(isNull(LAW_CAT_CD) || replace(LAW_CAT_CD, ' ', '') == '(null)', 'Unknown', ",
						"    iif(LAW_CAT_CD == 'F' ||  LAW_CAT_CD == 'M' || LAW_CAT_CD == 'V',LAW_CAT_CD , 'Invalid')),",
						"          DI_JOB_ID = $JobID,",
						"          DI_Load_DT = currentDate()) ~> derivedColumns",
						"derivedColumns select(mapColumn(",
						"          ARREST_KEY,",
						"          ARREST_DATE,",
						"          PD_CD,",
						"          PD_DESC,",
						"          KY_CD,",
						"          OFNS_DESC,",
						"          LAW_CODE,",
						"          LAW_CAT_CD,",
						"          ARREST_BORO,",
						"          ARREST_PRECINCT,",
						"          JURISDICTION_CODE,",
						"          AGE_GROUP,",
						"          PERP_SEX,",
						"          PERP_RACE,",
						"          X_COORD_CD,",
						"          Y_COORD_CD,",
						"          DI_JOB_ID,",
						"          DI_Load_DT",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> select",
						"select sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          ARREST_KEY,",
						"          ARREST_DATE,",
						"          PD_CD,",
						"          PD_DESC,",
						"          KY_CD,",
						"          OFNS_DESC,",
						"          LAW_CODE,",
						"          LAW_CAT_CD,",
						"          ARREST_BORO,",
						"          ARREST_PRECINCT,",
						"          JURISDICTION_CODE,",
						"          AGE_GROUP,",
						"          PERP_SEX,",
						"          PERP_RACE,",
						"          X_COORD_CD,",
						"          Y_COORD_CD,",
						"          DI_JOB_ID,",
						"          DI_LOAD_DT = DI_Load_DT",
						"     )) ~> SnowflakeSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_bronze')]",
				"[concat(variables('factoryId'), '/datasets/DS_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesFactLoad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceSFstage"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceDim"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceParked"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sourceMaxFactSK"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sinkSF"
						},
						{
							"dataset": {
								"referenceName": "Snowflake_DS2",
								"type": "DatasetReference"
							},
							"name": "sinkParked"
						}
					],
					"transformations": [
						{
							"name": "union"
						},
						{
							"name": "derivedColumn"
						},
						{
							"name": "selectRequiredColumns"
						},
						{
							"name": "filterPending"
						},
						{
							"name": "joinDim"
						},
						{
							"name": "splitValid"
						},
						{
							"name": "joinMaxSK"
						},
						{
							"name": "derivedColumns"
						},
						{
							"name": "surrogateKey"
						},
						{
							"name": "exists"
						},
						{
							"name": "Pending"
						}
					],
					"scriptLines": [
						"parameters{",
						"     PID as string ('20')",
						"}",
						"source(output(",
						"          INVOICEID as decimal(38,0),",
						"          CUSTOMERID as decimal(38,0),",
						"          INVOICEDATE as date,",
						"          SHIPTO as string,",
						"          SHIPTO_CITY as string,",
						"          SHIPTO_COUNTRY as string,",
						"          SALESPERSONPERSONID as decimal(38,0),",
						"          SALESPERSONNAME as string,",
						"          TOTAL_PRODUCT_CNT as decimal(38,0),",
						"          TOTAL as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceSFstage",
						"source(output(",
						"          CUSTOMER_SK as decimal(38,0),",
						"          CUSTOMER_ID as decimal(38,0),",
						"          CUSTOMER_NAME as string,",
						"          DI_CREATEDDT as timestamp,",
						"          PID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceDim",
						"source(output(",
						"          INVOICEID as decimal(38,0),",
						"          CUSTOMERID as decimal(38,0),",
						"          INVOICEDATE as date,",
						"          TOTAL_PRODUCT_CNT as decimal(38,0),",
						"          TOTAL as double,",
						"          RETRY_FLAG as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceParked",
						"source(output(",
						"          MAXINVOICE_SK as decimal(38,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: 'SELECT NVL(MAX(INVOICE_SK),0) AS MaxINVOICE_sk FROM FCT_INVOICE',",
						"     format: 'query') ~> sourceMaxFactSK",
						"derivedColumn, filterPending union(byName: true)~> union",
						"sourceSFstage derive(RETRY_FLAG = \"NEW\") ~> derivedColumn",
						"union select(mapColumn(",
						"          INVOICEID,",
						"          CUSTOMERID,",
						"          INVOICEDATE,",
						"          TOTAL_PRODUCT_CNT,",
						"          TOTAL,",
						"          RETRY_FLAG",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> selectRequiredColumns",
						"sourceParked filter(not(isNull(RETRY_FLAG))&& RETRY_FLAG == 'PENDING') ~> filterPending",
						"selectRequiredColumns, sourceDim join(CUSTOMERID == CUSTOMER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDim",
						"joinDim split(not(isNull(CUSTOMER_ID)),",
						"     disjoint: false) ~> splitValid@(Valid, Invalid)",
						"splitValid@Valid, sourceMaxFactSK join(1==1,",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMaxSK",
						"surrogateKey derive(INVOICE_SK = MAXINVOICE_SK + Row_number,",
						"          DI_CREATEDDT = currentTimestamp(),",
						"          PID = $PID) ~> derivedColumns",
						"joinMaxSK keyGenerate(output(Row_number as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey",
						"splitValid@Invalid, sourceParked exists(splitValid@Invalid@INVOICEID == sourceParked@INVOICEID",
						"     && splitValid@Invalid@CUSTOMERID == sourceParked@CUSTOMERID,",
						"     negate:true,",
						"     broadcast: 'auto')~> exists",
						"exists derive(RETRY_FLAG = 'PENDING') ~> Pending",
						"derivedColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          INVOICE_ID = INVOICEID,",
						"          CUSTOMER_ID = CUSTOMERID,",
						"          INVOICE_DT = INVOICEDATE,",
						"          TOTAL_PRODUCT_CNT,",
						"          TOTAL_PRODUCT_COST = TOTAL,",
						"          DI_CREATEDDT,",
						"          PID,",
						"          INVOICE_SK",
						"     )) ~> sinkSF",
						"Pending sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          INVOICEID,",
						"          CUSTOMERID,",
						"          INVOICEDATE,",
						"          TOTAL_PRODUCT_CNT,",
						"          TOTAL,",
						"          RETRY_FLAG",
						"     )) ~> sinkParked"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Snowflake_DS2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SeattleFactLoading')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceStage"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceBreedDim"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceLocationDim"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceDateDim"
						},
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sourceFactMaxID"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "joinStageBreedDim"
						},
						{
							"name": "joinLocDim"
						},
						{
							"name": "joinDateDim"
						},
						{
							"name": "surrogateKey"
						},
						{
							"name": "join1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     JobID as string (\"10\")",
						"}",
						"source(output(",
						"          LICENSE_ISSUE_DATE as date,",
						"          LICENSE_NUMBER as string,",
						"          ANIMAL_NAME as string,",
						"          SPECIES as string,",
						"          PRIMARY_BREED as string,",
						"          SECONDARY_BREED as string,",
						"          ZIP_CODE as string,",
						"          DI_JOB_ID as string,",
						"          DI_LOAD_DT as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceStage",
						"source(output(",
						"          BREED_SK as decimal(10,0),",
						"          PRIMARY_BREED as string,",
						"          SECONDARY_BREED as string,",
						"          SPECIES_NAME as string,",
						"          DI_JOB_ID as string,",
						"          DI_JOB_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceBreedDim",
						"source(output(",
						"          LOCATION_SK as decimal(10,0),",
						"          ZIP as string,",
						"          CITY as string,",
						"          STATE as string,",
						"          DI_JOB_ID as string,",
						"          DI_JOB_DATE as date",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceLocationDim",
						"source(output(",
						"          DT as date,",
						"          ABRV_DAY_NAME as string,",
						"          MONTH_NAME as string,",
						"          START_DAY_OF_MONTH as date,",
						"          END_DAY_OF_MONTH as date,",
						"          QUATER_NUM as decimal(2,0),",
						"          DAY_OF_WEEK as decimal(2,0),",
						"          IS_WEEKEND as decimal(1,0),",
						"          YEAR_NUM as decimal(4,0),",
						"          MONTH_NUM as decimal(2,0),",
						"          DAY_NUM as decimal(2,0),",
						"          DATE_DIM_SK as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'table') ~> sourceDateDim",
						"source(output(",
						"          PET_LIC_SK as decimal(10,0)",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     query: 'SELECT NVL(MAX(PET_LICENSE_SK),0) AS pet_lic_sk FROM PET_LICENSES_DAILY_CNT_FCT',",
						"     format: 'query') ~> sourceFactMaxID",
						"sourceStage, sourceBreedDim join(SPECIES == SPECIES_NAME",
						"     && sourceStage@PRIMARY_BREED == sourceBreedDim@PRIMARY_BREED",
						"     && sourceStage@SECONDARY_BREED == sourceBreedDim@SECONDARY_BREED,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinStageBreedDim",
						"joinStageBreedDim, sourceLocationDim join(ZIP_CODE == ZIP,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinLocDim",
						"joinLocDim, sourceDateDim join(LICENSE_ISSUE_DATE == DT,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDateDim",
						"select1 keyGenerate(output(fact_sk as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey",
						"joinDateDim, sourceFactMaxID join(1 == 1,",
						"     joinType:'cross',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"surrogateKey derive(PET_LICENSE_SK = PET_LIC_SK + fact_sk,",
						"          DI_JOB_ID = $JobID,",
						"          DI_JOB_DATE = currentTimestamp()) ~> derivedColumn1",
						"join1 select(mapColumn(",
						"          BREED_SK,",
						"          LOCATION_SK,",
						"          DATE_DIM_SK,",
						"          PET_LIC_SK",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> select1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     stageInsert: true,",
						"     mapColumn(",
						"          BREED_SK,",
						"          LOCATION_SK,",
						"          DATE_SK = DATE_DIM_SK,",
						"          PET_LICENSE_SK,",
						"          DI_JOB_ID,",
						"          DI_JOB_DATE",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]"
			]
		}
	]
}